examples/context/parcels.dtd

<!ELEMENT parcels (parcel)+>
<!ATTLIST parcels
  xmlns CDATA #FIXED ''
  delivery-date CDATA #REQUIRED
  max-weight CDATA #REQUIRED>
<!ELEMENT parcel (contents)>
<!ATTLIST parcel
  xmlns CDATA #FIXED ''
  date CDATA #REQUIRED
  weight CDATA #REQUIRED>
<!ELEMENT contents (#PCDATA)>
<!ATTLIST contents
  xmlns CDATA #FIXED ''>
